%link{:href => "https://fonts.googleapis.com/css?family=Montserrat&display=swap", :rel => "stylesheet"}/
%link{:href => "https://fonts.googleapis.com/css?family=Megrim&display=swap", :rel => "stylesheet"}/

.box_basic
  %h1
    Upload for Gallery 
    %br
    %br
    %br
    %br
    #{@gallery.name}
  %br
  %br
  %br
  %center
    = form_with model: @gallery, url: gallery_file_uploads_path(@gallery), :class => 'form_text', method: :post, local: true do |f|
      = f.file_field :files, multiple: true, direct_upload: true
      %br/
      %br/
      = f.submit 'Upload', :class => 'btn_basic btn_text', :id => 'file_upload_btn'
      %br
      %br
      %br
      %br
    = link_to 'Back', :back, :class => 'btn_basic btn_text', :id => 'new_gal_back_btn'
