%link{:href => "https://fonts.googleapis.com/css?family=Montserrat&display=swap", :rel => "stylesheet"}/
%link{:href => "https://fonts.googleapis.com/css?family=Megrim&display=swap", :rel => "stylesheet"}/

%body.background_gif

.box_basic
  %h1 RUPESTREE

  %h2
    %strong
      Edit your images applying generative algorithms
  - if not session[:user_id]
    %h2
      %a{:href => "/auth/google_oauth2", :class => 'btn_basic btn_text btn_home', :id => 'home_sign_in_btn'} Sign in with Google
  - else
    %h2
      %a{href: "/me", :class => 'btn_basic btn_text btn_home', :id => 'home_prof_btn'} Profile Page
      %br
      %br
      %a{href: "/logout", :class => 'btn_basic btn_text btn_home', :id => 'home_logout_btn'} Logout

