%link{:href => "https://fonts.googleapis.com/css?family=Montserrat&display=swap", :rel => "stylesheet"}/
%link{:href => "https://fonts.googleapis.com/css?family=Megrim&display=swap", :rel => "stylesheet"}/

= form_for @gallery do |f|
  %center
    - if @gallery.errors.any?
      #error_explanation
        %h2= "#{pluralize(@gallery.errors.count, "error")} prohibited this gallery from being saved:"
        %ul
          - @gallery.errors.full_messages.each do |message|
            %li
              = message 

    = f.label :name, :class => 'form_text', :id => 'form_label'
    = f.text_field :name
    %br
    %br
    = f.submit 'Save', :class => 'btn_basic btn_text', :id => 'new_gal_back_btn'
