%link{:href => "https://fonts.googleapis.com/css?family=Montserrat&display=swap", :rel => "stylesheet"}/
%link{:href => "https://fonts.googleapis.com/css?family=Megrim&display=swap", :rel => "stylesheet"}/

.box_basic.apply_algorithm
  %h1 Applying Algorithm 1
  %br
  %center
    = link_to 'Back', galleries_manipulate_path(:img => @img, :gal => @gallery), :class => 'btn_basic btn_text'
    %br
    %br

  = image_tag(@gallery.files.find(@img), :class => 'imgs')

  %center
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.min.js"}
    
    %script{src: "../assets/algorithm1.js"} 

    %br

    = link_to 'Algorithm 2', galleries_apply_algorithm2_path(:img => @img, :gal => @gallery), :class => 'btn_basic btn_text', :id => 'alg2'

    = link_to 'Algorithm 3', galleries_apply_algorithm3_path(:img => @img, :gal => @gallery), :class => 'btn_basic btn_text', :id => 'alg3'
