%link{:href => "https://fonts.googleapis.com/css?family=Montserrat&display=swap", :rel => "stylesheet"}/
%link{:href => "https://fonts.googleapis.com/css?family=Megrim&display=swap", :rel => "stylesheet"}/

.box_basic
	%h1 Editing gallery
	
	%br
	%br
	%br

	= render 'form'

	%br
	%br
	%br
	%br

	%center
		= link_to 'Back', galleries_path, :class => 'btn_basic btn_text', :id => 'new_gal_back_btn'
