%link{:href => "https://fonts.googleapis.com/css?family=Montserrat&display=swap", :rel => "stylesheet"}/
%link{:href => "https://fonts.googleapis.com/css?family=Megrim&display=swap", :rel => "stylesheet"}/

.box_basic
  %h1
    = current_user.first_name + "'s profile"  
  %br
  %br

  %center
    = link_to 'New Gallery', new_gallery_path, :class => 'btn_basic btn_text', :id => 'index_new_gal_btn'
  %br
  %br

  %h2 Listing galleries

  %center
    %table
      %tbody
        - galerias = Gallery.where(owner: current_user.email)
          - galerias.each do |gallery|
          %tr
            %td{:class => "index_txt"}
              %center
                = gallery.name
            
            %td
              = link_to "Show", gallery, {:class => 'btn_basic btn_text', :id => 'show'}
            
            %td
              = link_to "Edit", edit_gallery_path(gallery), {:class => 'btn_basic btn_text', :id => 'edit'}

            %td
              = link_to "Destroy", gallery, {:class => 'btn_basic btn_text', :id => 'destroy', method: :delete, data: { confirm: 'Do you really want to delete this gallery?'}}
  %br
  %br
  %br
  %br
  %br

  %center
    %a{href: "/", :class => 'btn_basic btn_text', :id => 'index_home_btn'} Home
    %a{href: "/logout", :class => 'btn_basic btn_text', :id => 'index_logout_btn'} Logout
