%link{:href => "https://fonts.googleapis.com/css?family=Montserrat&display=swap", :rel => "stylesheet"}/
%link{:href => "https://fonts.googleapis.com/css?family=Megrim&display=swap", :rel => "stylesheet"}/

.box_basic
  %h1 Manipulation page
  %br
  %center
    = link_to 'Back', gallery_path(@gallery), :class => 'btn_basic btn_text'
    %br
    %br
    = image_tag(@gallery.files.find(@img), :class => 'imgs')

    %br
    %br
    =link_to 'Apply Algorithm 1', galleries_apply_algorithm_path(:img => @img, :gal => @gallery), :class => 'btn_basic btn_text', :id => 'alg1'

    =link_to 'Apply Algorithm 2', galleries_apply_algorithm2_path(:img => @img, :gal => @gallery), :class => 'btn_basic btn_text', :id => 'alg2'

    =link_to 'Apply Algorithm 3', galleries_apply_algorithm3_path(:img => @img, :gal => @gallery), :class => 'btn_basic btn_text', :id => 'alg3'
