%link{:href => "https://fonts.googleapis.com/css?family=Montserrat&display=swap", :rel => "stylesheet"}/
%link{:href => "https://fonts.googleapis.com/css?family=Megrim&display=swap", :rel => "stylesheet"}/

.box_basic
  %center
    %h1
      = @gallery.name
      %br
      %br

    = link_to 'Edit', edit_gallery_path(@gallery),{ :class => 'btn_basic btn_text', :id => 'gal_edit'}
    
    = link_to 'Upload Files', new_gallery_file_upload_path(@gallery), {:class => 'btn_basic btn_text', :id => 'upload_file_btn'}

    = link_to 'Back', galleries_path,{:class => 'btn_basic btn_text', :id => 'show_back_btn'}
  
    %br

    %h2 Click on an image to manipulate it

    %ul
      - @gallery.files.each do |file|
        %dl
          = link_to image_tag(file, :class => 'imgs'), galleries_manipulate_path(:img => file, :gal => @gallery)
          
          %br

          = link_to "Delete image", gallery_file_upload_path(@gallery, file), :class => 'btn_basic btn_text', :id => 'show_del_image_btn', method: :delete, data: { confirm: "Do you really want to delete this image?"}
          %br
          %br
          %br
