.p5Canvas {
  width: auto !important;
  height: auto !important;
  width:400px  !important;
  height:auto  !important;
  
  position: relative;
  margin: 0;
  left: 735px;
  top: 170px;
}

body > div:nth-child(6){
	display: inline-flex;
	position: relative;
	right: 180px;
	top: 235px;
	color: white;
	font-size: 16px;
	font-weight: bold;
}

body > div:nth-child(7){
	display: inline-flex;
	position: relative;
	right: 180px;
	top: 235px;
	color: white;
	font-size: 16px;
	font-weight: bold;
}