$font-stack: 'Montserrat', sans-serif;
$primary-color: #FFF;

.box_basic {
	position: absolute;
	left: 20%;
	right: 20%;

	background: rgba(0,0,0,.8);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);
	border-radius: 10px;

	padding: 25px;

	margin-top: 0px;
	margin-bottom: 55px;

	margin-right: 20px;
	margin-left: 20px; 
}

.box_basic.apply_algorithm {
	left: 10%;
	right: 10%;
}

.box_basic h1 {
	margin-top: 30px;
	margin-bottom: 20px;
	font-family: 'Megrim', cursive;
	font-size: 60px;
	padding: 0;
	color: #FFF;
	text-align: center;
}

.box_basic h2 {
	margin-top: 50px;
	margin-bottom: 20px;
	padding: 0px;
	color: #FFF;
	text-align: center;
	font-size: 18px;
}

.btn_basic {
	-moz-border-radius:28px;
	background-color:white;

	border-radius:28px;
	border:2px solid #000000;
	
	padding:8px 18px;
	position:static;
	display:inline-block;

	font-family:$font-stack;
	font-size:15px;
	font-weight: bold;
	
	text-decoration:none;
	text-align: center;

	margin: 3px;
}

.btn_basic.btn_text {
	color:black;
}

.btn_basic.btn_text:hover {
	color:white;
	background-color:black;
	border:2px solid #ffffff;
	cursor:pointer;
}

.form_text {
	color:white;
	font-size:16px;
	margin-bottom: 5px;
}

.imgs {
  display: block;
  width:400px;
  height:auto;
}

body.background_gif {
	background: url(light_moving_background.gif) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body{
	background: url(static_background.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

